{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} myself information{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script>
    function upload_image_layer() {
        layer.open({
            title:'上传照片',
            area:['1000px','600px'],
            type:2,
            content:'{% url 'account:my_image' %}',
        });
    }
    </script>
<div class="row text-center vertical-middle-sm" >
    <h1>My Information</h1>
    <div class="col-md-6">
        <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>用户名：</span>
            </div>
            <div class="col-md-8">
                <span>{{ user.username }}</span>
            </div>
        </div>
        <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>邮箱：</span>
            </div>
            <div class="col-md-8">
                <span>{{ user.email }}</span>
            </div>
        </div>
        <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>生日：</span>
            </div>
            <div class="col-md-8">
                <span>{{ userprofile.birth }}</span>
            </div>
        </div>
        <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>电话：</span>
            </div>
            <div class="col-md-8">
                <span>{{ userprofile.phone}}</span>
            </div>
        </div>
        <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>毕业学校：</span>
            </div>
            <div class="col-md-8">
                <span>{{ userinfo.school }}</span>
            </div>
        </div>
        <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>工作单位：</span>
            </div>
            <div class="col-md-8">
                <span>{{ userinfo.company }}</span>
            </div>
        </div>
        <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>职业：</span>
            </div>
            <div class="col-md-8">
                <span>{{ userinfo.profession }}</span>
            </div>
        </div>
            <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>地址：</span>
            </div>
            <div class="col-md-8">
                <span>{{ userinfo.address }}</span>
            </div>
        </div>
            <!--个人信息内容-->
        <div class="row">
            <div class="col-md-4 text-right">
                <span>人人介绍：</span>
            </div>
            <div class="col-md-8">
                <span>{{ userinfo.aboutme }}</span>
            </div>

        </div>
        <a href="{% url 'account:edit_my_information' %}">
            <button class="btn btn-primary btn-lg">edit my information</button>
        </a>
    </div>

    <div class="col-md-6">
        <div style="margin-right: 100px">
            {% if userinfo.photo %}
            <img src="{{ userinfo.photo |striptags }}" class="img-circle" id="my_photo" name="my_photo">
                {% else %}
                <img name="user_face" src="{% static 'images/1.jpg' %}" class="img-circle" id="my_photo">
            {% endif %}

        </div>
        <div style="margin-right: 100px">
            <button class="btn btn-primary btn-lg" id="uploag_image" onclick="upload_image_layer()">
                上传我的照片
            </button>
        </div>
    </div>



</div>

{% endblock %}