{% extends 'base.html' %}
{% load staticfiles %}
{% block titie %}{ blog article}{% endblock %}
{% block content %}
<div class="row text-center vertical -middle-sm">
    <h1>{{ article.title }}</h1>

</div>
    
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p class="text-center"><span>{{ article.auther.username }}</span>
        <span style="margin-left: 20px">{{ publish }}</span>
        </p>
        <div>{{ article.body }}</div>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>跟着侯禹江学python</p>
        <img width="500px" src="{% static '/images/w.jpg' %}" >
    </div>

</div>     
  
{% endblock %}